{% extends 'layouts/layout.html' %}

{% block title %} {{title}} {% endblock title %} 

{% load static %}
{% block content %}

<div class="modal fade" tabindex="-1" role="dialog" id="modal_crear_programa">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h4 class="modal-title">Crea tu programa</h4>
        <a href="{% url 'proyectos' %}" type="button" class="close"><span aria-hidden="true">&times;</span></a>
      </div>
      <div class="modal-body">
        <form action="" method="post">{% csrf_token %}
            <select name="id_usuario" hidden=""><option value="{{id_u.id}}" selected>{{id_u}}</option></select>
            <select name="id_proyecto" hidden=""><option value="{{id_p.id}}" selected>{{id_p}}</option></select>
            
            <label for="id_nombre">Nombre:</label>
            <input type="text" name="nombre" class="form-control mb-3" maxlength="200" required id="id_nombre">
            <label for="id_descripcion">Descripción:</label>
            <input type="text" name="descripcion" class="form-control mb-3" required id="id_descripcion">
            <label for="id_id_lenguaje">Lenguaje:</label>
            <select name="id_lenguaje" class="form-control mb-3" required id="id_id_lenguaje">
                <option value="" selected>---------</option>
                {% for lenguaje in lista_lenguajes %}
                    <option value="{{lenguaje.id}}">{{lenguaje}}</option>
                {% endfor %}
            </select>
            <label for="id_id_medida">Medida:</label>
            <select name="id_medida" class="form-control mb-3" required id="id_id_medida">
                <option value="" selected>---------</option>
                {% for medida in lista_medidas %}
                    <option value="{{medida.id}}">{{medida}}</option>
                {% endfor %}
            </select>
            <label for="id_fecha_finalizacion">Fecha de finalización:</label>
            <input type="date" name="fecha_finalizacion" class="form-control" placeholder="dd/mm/yyyy h:m:s" id="id_fecha_finalizacion"></p>
            <div class="text-center">
            <input type="submit" class="btn btn-primary btn-block" value="Crear programa" />
            </div>
        </form> 
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


    <!-- Modal create program-->
    <div class="modal fade" id="modalCreateProgram" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
        <div class="modal-dialog" >
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Crea tu programa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center">
                        <input type="submit" class="btn btn-primary btn-block" value="Crear programa" />
                        </div>
                    </form>
                </div>           
            </div>
        </div>
    </div>

    <script type="text/javascript">
        
        function modalForm(idProject,nombreProyecto){
            $('#idProjectF').val(idProject);
            document.getElementById("p").innerHTML += idProject
        }
        
        
    </script>
{% endblock content %}
 