{% extends 'layouts/layout.html' %}

{% block title %} Detalles del programa {% endblock title %} 

{% block content %}

{% if programa.id_usuario.id == request.user.id %}

    <h1>{{title}}</h1>
    <div class="row">
        <div class="col clearfix">
            <h3 class="float-left">{{programa.nombre}}</h3>
            <a  href="{% url 'create_reportes' programa.id %}" class="float-right btn btn-success float-right" type="button" >Realizar reporte</a >  
        </div>
    </div>
    
    <div class="container mb-5 mt-3"> 
        {% if psp >= 1 %}
        {% include 'programas/includes/info.html' %} 
        {% endif %}
        
        {% include 'programas/includes/registroTiempos.html' %}

        {% include 'programas/includes/defectosIngresados.html' %}

        {% include 'programas/includes/defectosRemovidos.html' %}
        
        {% if psp >= 1 %}
        {% include 'programas/includes/partesBase.html' %}

        {% include 'programas/includes/partesAñadidas.html' %}

        {% include 'programas/includes/parteReusada.html' %}
        {% endif %}

    </div>


{% else %}

    <div class="container">
        <div class="row align-items-center justify-content-center vh-100">
            <div class="card">
                
                <div class="card-body">
                    <div class="row align-items-center justify-content-center">
                        <i class="fas fa-exclamation fa-5x text-primary"  ></i>
                    </div>
                    
                    <h1 class="text-primary">No eres propietario de esta programa</h1>
                </div>
            </div>
        </div>
    </div>
{% endif %}



{% endblock content %}