{% extends 'layouts/layout.html' %}

{% block title %} {{title}} {% endblock title %} 

{% block content %}
    <h1>{{title}}</h1>
    
    <div class="container mb-5">
        <div class="card mb-5">
            <div class="card-header">
                <h3>Crear Defecto</h3>
            </div>
            <div class="card-body">
                <form>
                    <input placeholder="Nombre" type="text" class="form-control mb-3"></input>
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <input type="date" class="form-control mb-3"></input> 
                            <div class="input-group mb-3">
                                <textarea placeholder="Descripcion" class="form-control" aria-label="With textarea"></textarea>
                            </div>  
                        </div>  
                        <div class="col-sm-6 ">
                            <div class="input-group mb-3">
                                <textarea placeholder="Soluccion" class="form-control" aria-label="With textarea"></textarea>
                            </div> 
                            <div class="input-group mb-3">
                                <textarea placeholder="Comentario" class="form-control" aria-label="With textarea"></textarea>
                            </div> 
                        </div> 
                    </div> 
                    <div class="mx-auto mb-5" style="width: 200px;">
                        <button type="sutmid" class="btn btn-success mx-auto" style="width: 200px;">Guardar</button>
                    </div>
                </form>
            </div>
        </div> 
    </div>

{% endblock content %}