{% extends 'layouts/layout.html' %}

{% block title %} {{title}} {% endblock title %} 

{% block content %}
    <h1>{{title}}</h1>
    <h3>Nombre del programa</h3>
    <div class="container mb-5"> 
        
        <a class="btn btn-primary mb-3" data-toggle="collapse" href="#pru" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">PSP 0.1</a>

        
        {% include 'programaT/include/info.html' %}  
        
        <div class="collapse multi-collapse" id="pru">
            {% include 'programaT/include/registroTiempos.html' %}

            {% include 'programaT/include/defectosIngresados.html' %}
        </div>
        {% include 'programaT/include/tamañoPlantilla.html' %}
    </div>

{% endblock content %}