

<div class="card mt-5 mb-5">
    <div class="card-header">
        <h3>Estimacion de plantillas</h3>
        <a class="btn btn-primary" href="{% url 'defectos' %}" role="button">Agregar Defecto</a>
        
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseEstimacion" role="button" aria-expanded="false" aria-controls="collapseEstimacion">
            <i class="fas fa-angle-down"></i>
        </a>
    </div>
    <div class="card-body row collapse" id="collapseEstimacion">
        <table class="table " >
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Plan</th>
                    <th scope="col">Actual</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>nada</td>
                    <td>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Base</th>
                                    <th scope="col">Deli</th>
                                    <th scope="col">Mod</th>
                                    <th scope="col">Mod</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>10/10/2020</th>
                                    <td>un error muy lindo</td>
                                    <td>ninguna</td>
                                    <td>la descriopcion</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Base</th>
                                    <th scope="col">Deli</th>
                                    <th scope="col">Mod</th>
                                    <th scope="col">Mod</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>10/10/2020</th>
                                    <td>un error muy lindo</td>
                                    <td>ninguna</td>
                                    <td>la descriopcion</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
        
                </tr>
                
            </tbody>
        </table>
    </div>
</div> 


