<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    
    <title>PSP</title>
  
    <link href="dist/css/style.css" rel="stylesheet">
    <link href="dist/css/pages/dashboard1.css" rel="stylesheet">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Importaciones de la carpeta lib Bootstrap CSS, estilos -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  

  <!-- Importaciones de la carpeta css,  estilos -->
    <link href="css/dasbhoar.css" rel="stylesheet">
  
    
</head>

<body class="skin-default-dark fixed-layout">
        <aside class="left-sidebar">        
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <header class="scroll-sidebar log">
                        <!--logo-->
                        
                        <a href="index.html" class="logo"><CENTER><b>Proyecto<span>PSP</span></b></a>  
                    </header>
                    <ul class="sidebar-menu" id="nav-accordion">

                      <p class="centered">
                        <a class href="#">
                          <img src="img/usuario.png" class="img-circle" >

                        </a>
                        <h5 class="centered"><BR><CENTER>Nombre Usuario</h5>

                      </p>

                      <li class="mt">
                        <a class="active" href="index.html">
                          <i class="fa fa-dashboard"></i>
                          <span>Inicio</span>
                        </a>

                      </li>

                      <li class="sub-menu">
                        <a href="javascript:;">
                          <i class="fa fa-tasks"></i>
                          <span>Elemento2</span>
                        </a>
                        <ul class="sub">
                          <li><a href="#">Hola Mundo</a></li>
                          <li><a href="#">Hola Mundo2</a></li>
                          
                        </ul>
                      </li>

                      <li class="sub-menu">
                        <a href="javascript:;">
                          <i class="fa fa-tasks"></i>
                          <span>Elemento3</span>
                        </a>
                        <ul class="sub">
                          <li><a href="#">Hola Mundo</a></li>
                          <li><a href="#">Hola Mundo2</a></li>
                          
                        </ul>
                      </li>

                      <li class="sub-menu">
                        <a href="javascript:;">
                          <i class="fa fa-tasks"></i>
                          <span>Elemento4</span>
                        </a>
                        <ul class="sub">
                          <li><a href="#">Hola Mundo</a></li>
                          <li><a href="#">Hola Mundo2</a></li>
                          
                        </ul>
                      </li>
                    </ul>
                </nav>
            </div>
            

        </aside>
    
    
    
    <script src="../assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
    <script src="../assets/node_modules/popper/popper.min.js"></script>
    <script src="../assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="dist/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="dist/js/dashboard1.js"></script>

    <!-- Importaciones de la carpeta lib, estilos -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
    <script src="lib/jquery.scrollTo.min.js"></script>
    <script src="lib/common-scripts.js"></script>

</body>

</html>