:root {
  --fondo: url("../img/fondoLogin.png");
  --porsentaje-borde-radius: 5%;
  --px-borde-radius: 4px;
  --bac-color: #70afbe;
  --shadow-box: 0px 4px 18px 3px rgba(0,0,0,0.75);;
}

/* ----------Project style----------*/
.card{
  transition: box-shadow 0.5s;
}

.card:hover{
  box-shadow: var(--shadow-box);
}

/* ----------Project style scroll contens-----------*/
.scroll-project-description {
  overflow-y: scroll;
  height: 150px;
}

.scroll-project-description::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll-project-description::-webkit-scrollbar-thumb {
  background: var(--bac-color);
  border-radius: var(--px-borde-radius);
}

.scroll-project-description::-webkit-scrollbar-thumb:hover {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.scroll-project-description::-webkit-scrollbar-thumb:active {
  background-color: #3696ad;
}

.scroll-project-description::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: var(--px-borde-radius);
}

.scroll-project-description::-webkit-scrollbar-track:hover,
.scroll-project-description::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

/* --------- page login and page register ------------*/

.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg-color {
  background-color: var(--bac-color);
}
.redondeo-izq {
  border-top-left-radius: var(--porsentaje-borde-radius);
  border-bottom-left-radius: var(--porsentaje-borde-radius);
}
.redondeo-der {
  border-top-right-radius: var(--porsentaje-borde-radius);
  border-bottom-right-radius: var(--porsentaje-borde-radius);
}
.img-fondo {
  background-image: var(--fondo);
}
