{% extends 'layouts/layout.html' %}

{% block title %} Lista de pips {% endblock title %} 

{% block content %}
    <h1>{{title}}</h1>
    
    <div class="row">
        
        {% for j in object_list %}
                <div class="col-sm-6 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{j.id_programa}}</h5>
                        </div>
                        <div class="card-body scroll-project-description">
                            <label class="label">Fecha</label>
                            <p class="card-text">{{j.fecha}}</p>
                            <label class="label">Descripcion</label>
                            <p class="card-text">{{j.descripcion}}</p>
                            <label class="label">Condiciones</label>
                            <p class="card-text">{{j.solucion}}</p>
                            <label class="label">Resultado esperado</label>
                            <p class="card-text">{{j.comentarios}}</p>
                        </div>
                    </div>
                </div>  
        {% endfor %}
    </div>
        
   
{% endblock content %}