{% extends 'layouts/layout.html' %}
{% load static %}
{% block title %} {{title}} {% endblock title %} 

{% block content %}
    <h1>Perfil</h1>
    <div class="container mb-5"> 
        <div class="card"> 
            <div class="container" style="width: 20rem;">
                <figure class="full-box nav-lateral-avatar">
                    <img style="width=10rem; height=10rem;" src=" {% static 'dashboar/assets/avatar/Avatar.png' %}"  alt="Avatar">
                </figure>
            </div>

            

            <div class="card-body row"> 
                <div class="form-group col-sm-6">
                    <label for="nameUser">Nombre de usuario</label>
                    <input type="text" class="form-control" id="nameUser" value="{{request.user.username}}" disabled>
                    <label for="userCorreo">Correo</label>
                    <input type="email" class="form-control" id="userCorreo" value="{{request.user.email}}" disabled>
                </div>
                <div class="form-group col-sm-6">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name" value="{{request.user.first_name}}" disabled>
                    <label for="userApellido">Apellidos</label>
                    <input type="text" class="form-control" id="userApellido" value="{{request.user.last_name}}" disabled>
                </div>

                {% if request.user.profesor.id_usuario.id == request.user.id %}
                    <div class="form-group col-sm-6">
                        <label for="name">Numero</label>
                        <input type="text" class="form-control" id="name" value="{{request.user.profesor.contacto}}" disabled>
                        
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="userApellido">Biografia</label>
                        <input type="text" class="form-control" id="userApellido" value="{{request.user.profesor.biografia}}" disabled>
                    </div>
                {% endif %}
            </div>

            <div class="text-center mb-3">
            {% comment %} <a href={% url 'actualizar_cuenta' request.user.id %} class="btn btn-primary">Editar</a> {% endcomment %}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" onclick="modalForm('{{request.user.username}}','{{request.user.email}}','{{request.user.first_name}}','{{request.user.last_name}}')">
                    Editar
                </button>
            </div>
            
            
            
        </div>   
    </div>

    <h1>Seguridad</h1>
    <div class="container mb-5"> 
        <div class="card"> 
            <div class="card-body row"> 
                <div class="form-group col-sm-6">
                    <label for="nameUser">Cambiar contraseña</label>
                    <input type="text" class="form-control mb-2" id="nameUser" value="**************" disabled>
                    
                    {% comment %} <a href={% url 'password_change' %} class="btn btn-primary">Cambiar contraseña</a> {% endcomment %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editPasswordModal" onclick="modalEditPassword('{{request.user.password}}')">
                        Cambiar contraseña
                    </button> 
                </div>
                <div class="form-group col-sm-6">
                    <label for="name">Borrar cuanta</label>
                    <input type="text" class="form-control mb-2" id="name" value="{{request.user.email}}" disabled>

                    {% comment %} <a href={% url 'eliminar_mi_cuenta' request.user.id %} class="btn btn-primary">Eliminar cuenta</a> {% endcomment %}
                     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDaleteU" onclick="modalDaletePerfil('{{request.user.username}}')">
                        Eliminar cuanta
                    </button> 
                </div>
            </div>
        </div>   
    </div>

     <!-- Modal edit information -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Editar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Nombre de usuario</label>
                <input class="form-control mb-3" type="text"  id="username" disabled></input>
                <label>Correo</label>
                <input class="form-control mb-3" type="text"  id="emailUser" disabled></input>
                <label>Nombre</label>
                <input class="form-control mb-3" type="text"  id="nombreUser"></input>
                <label>Apellido</label>
                <input class="form-control mb-3" type="text"  id="apellidoUser"></input>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
    </div>

     <!-- Modal edit password-->
    <div class="modal fade" id="editPasswordModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Cambiar contraseña</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <label>Nombre de usuario</label>
            <input class="form-control mb-3" type="password"  id="passwordEdit" disabled></input>
            <label>Nueva contraseña</label>
            <input class="form-control mb-3" type="text"  id="newPassword"></input>
            <label>Confirme la contraseña</label>
            <input class="form-control mb-3" type="text"  id="cofirmetPasword"></input>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary">Guardar</button>
        </div>
        </div>
    </div>
    </div>

     <!-- Modal dalete user-->
    <div class="modal fade" id="modalDaleteU" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Eliminar cuenta!!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                

            <div class="card-body text-center">
                
                <form method="post">
                    {% csrf_token %}
                    <i class=" text-danger fas fa-5x fa-exclamation-triangle"></i>
                    <h5 class="card-title">Estas seguro de eliminar la cuenta "{{ object }}"?</h5>
                    <p class="card-text">No podrá recuperar ningún avanze realizado en esta cuenta después de eliminarla   </p>
                        
                    <div class="mb-2">
                        <input class="btn btn-danger" type="submit" value="Confirmar">
                    </div>
                </form>
                    
                
                <div class="card-footer text-muted">
                    Usuario: {{object.username}} 
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function modalForm(username,email,nombre,apellido){
            $('#username').val(username),
            $('#emailUser').val(email),
            $('#nombreUser').val(nombre),
            $('#apellidoUser').val(apellido)  
        }

        function modalEditPassword(password){
            $('#passwordEdit').val(password)
        }

        function modalDaletePerfil(userName){
            $('#DaleteUser').val(userName)
        }
    </script>
{% endblock content %}