{% load static %}
<link rel="stylesheet" href="{% static 'dashboar/css/all.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="icon" type="image/png" href="{% static 'img/p_logp.png' %}">

<div class="modal-dialog">
    <div class="modal-content text-center">
             
        <div class="modal-body mb-5 mt-5">
            <h5 class="modal-title" id="staticBackdropLabel">Cambiar contraseña exitoso</h5>
            <div class="alert alert-success" role="alert">  
                <i class="fas fa-check fa-5x"></i>
            </div>
            <a href="{% url 'editPerfilUs' %}"  type="button" class="btn btn-success" >Regresar a la pagina</a>
        </div>
          
    </div>
</div>