<!-- Content -->
<div id="content" class="colM">
    <h1>Cambio de contraseña</h1>
    <div id="content-main">
        <form method="post">{% csrf_token %}
            <div>
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                        <ul class="errorlist"><li>{{ error }}</li></ul>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
                <fieldset class="module aligned wide">
                    <div class="form-row">
                        <label for="id_old_password">Contraseña antigua:</label> <input type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">
                    </div>
                    <div class="form-row">
                        <label for="id_new_password1">Contraseña nueva:</label> <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
                        <div class="help">
                            <ul>
                                <li>Su contraseña no puede asemejarse tanto a su otra información personal.</li>
                                <li>Su contraseña debe contener al menos 8 caracteres.</li
                                ><li>Su contraseña no puede ser una clave utilizada comúnmente.</li>
                                <li>Su contraseña no puede ser completamente numérica.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="id_new_password2">Contraseña nueva (confirmación):</label> <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
                    </div>
                </fieldset>
                <div class="submit-row">
                    <input type="submit" value="Cambiar mi contraseña" class="default">
                </div>
            </div>
        </form>
    </div>
    <br class="clear">
</div>
<!-- END Content -->