{% extends 'layouts/layout.html' %}

{% block title %} Grafico-estadisticas {% endblock title %} 

{% block content %}
<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {
        
        
        var data = new google.visualization.arrayToDataTable([
          ['', 'Porcentaje%'],
          ["Planificación (PLAN)", 20 ],
          ["Diseño (DISE)", 50],
          ["Desarrollo (DLL)", 12],
          ["Pruebas ()", 20],
          ['Inplementacion', 3],
          ['Mantenimiento', 3]
        ]);

        var options = {
          title: '',
          width: 900,
          legend: { position: 'none' },
          chart: { title: 'Errores por fase',
                   subtitle: '' },
          bars: 'horizontal', // Required for Material Bar Charts.
          axes: {
            x: {
              0: { side: 'top', label: 'Porcentaje %'} // Top x-axis.
            }
          },
          bar: { groupWidth: "60%" }
        };

        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
        chart.draw(data, options);
      };


      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStufff);

      function drawStufff() {
        
        
        var data = new google.visualization.arrayToDataTable([
          ['', 'Porcentaje%'],
          ["Planificación (PLAN)", 25 ],
          ["Diseño (DISE)", 40],
          ["Desarrollo (DLL)", 12],
          ["Pruebas ()", 15],
          ['Inplementacion', 3],
          ['Mantenimiento', 9]
        ]);

        var options = {
          title: '',
          width: 900,
          legend: { position: 'none' },
          chart: { title: 'Tiempo por fase',
                   subtitle: '' },
          bars: 'horizontal', // Required for Material Bar Charts.
          axes: {
            x: {
              0: { side: 'top', label: 'Porcentaje %'} // Top x-axis.
            }
          },
          bar: { groupWidth: "60%" }
        };

        var chart = new google.charts.Bar(document.getElementById('top_x_divv'));
        chart.draw(data, options);
      };
    </script>
  </head>
  <body>
    <div class="mb-5 mt-3" id="top_x_div" style="width: 800px; height: 400px;"></div>
    <div class="mb-5" id="top_x_divv" style="width: 800px; height: 400px;"></div>
    


    {% for j in datos %}
        <p id="nombre1">{{j.0}}</p>
        <p id="porcentaje1">{{j.4}}%</p>
    {% endfor %} 

    {% for j in registro_tiempos_programa %}
        <p >{{j.0}}</p>
        <p >{{j.1}}</p>
    {% endfor %}

  </body>
</html>
    

{% endblock content %}