{% extends 'layouts/layout.html' %}
{% load static %}
{% block title %} Profesor {% endblock title %} 

{% block content %}

<div class="card text-center mt-5 mb-5">
  <div class="card-header">
    Profesor
  </div>
  <div class="card-body " >
    <div class="container" style="width: 20rem;">
        <figure class="full-box nav-lateral-avatar">
            <img style="width=10rem; height=10rem;" src=" {% static 'dashboar/assets/avatar/Avatar.png' %}" class="" alt="Avatar">
        </figure>
    </div>
    <h5 class="card-title">{{request.user.estudiante.id_profesor.id_usuario.first_name}} {{request.user.estudiante.id_profesor.id_usuario.last_name}}</h5>
    <p></p>
    <p class="card-text">{{request.user.estudiante.id_profesor.biografia}}</p>
    
  </div>
  <div class="card-footer text-muted">
    <div>
        Tel: {{request.user.estudiante.id_profesor.contacto}}
    </div>
    <div>
        Email: {{request.user.estudiante.id_profesor.id_usuario.email}}
    </div>
  </div>
</div>


{% endblock content %}