<div class="card mb-5"> 
    <div class="card-header">
        <h3>Estadisticas generales</h3>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseInfo" role="button" aria-expanded="false" aria-controls="collapseInfo">
            <i class="fas fa-angle-down"></i>
        </a>
    </div>
    <div class="card-body row collapse" id="collapseInfo"> 
        <div class="form-group col-sm-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">Productividad (LOC/h)</label>
                </div>
                <input type="text" class="form-control" value="{{productibidad_actual_p}}" disabled>
                <input type="text" class="form-control" value="{{productibidad_actual}}" disabled>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">Tiempo Planeado(min)</label>
                </div>
                <input type="text" class="form-control" value="{{tamano_actual_p}}" disabled>
                <input type="text" class="form-control" value="" disabled>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">Tiempo Actual(min)</label>
                </div>
                <input type="text" class="form-control" value="" disabled>
                <input type="text" class="form-control" value="{{tamano_actual}}" disabled>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">Reusado</label>
                </div>
                <input type="text" class="form-control" value="{{tamano_r_p}} %" disabled>
                <input type="text" class="form-control" value="{{tamano_r}} %" disabled>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">Eliminado</label>
                </div>
                <input type="text" class="form-control" value="{{tamano_e_p}} %" disabled>
                <input type="text" class="form-control" value="{{tamano_e}} %" disabled>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">Agregado</label>
                </div>
                <input type="text" class="form-control" value="{{tamano_a_p}}" disabled>
                <input type="text" class="form-control" value="{{tamano_a}} %" disabled>
            </div>
        </div>
    </div>
</div>