
<div class="card mt-5">
    <div class="card-header">
        <h3>Partes reusadas</h3>
        <a class="btn btn-primary" href="#" role="button">Usar partes</a>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseParteReusada" role="button" aria-expanded="false" aria-controls="collapseParteReusada">
            <i class="fas fa-angle-down"></i>
        </a>
    </div>
    <div claa="card-body row">
        <table class="table collapse" id="collapseParteReusada">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Plan</th>
                    <th scope="col">Actual</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Nombre</th>
                    <td>este es el plan</td>
                    <td>resultados actuales</td>
                </tr>
            </tbody>
        </table>
    </div>
</div> 

