<div class="card mt-5 mb-5">
    <div class="card-header">
        <h3>Partes Base resumen</h3>
        <a class="btn btn-primary" href="{% url 'crear_parte_base' %}" role="button">Agregar Base</a>
        
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseEstimacion" role="button" aria-expanded="false" aria-controls="collapseEstimacion">
            <i class="fas fa-angle-down"></i>
        </a>
    </div>
    <div class="card-body row collapse" id="collapseEstimacion">
        <table class="table " >
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Plan</th>
                    <th scope="col">Actual</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for base in partesBases %}
                                <tr>
                                    <th>{{base.id_parte_general.nombre}}</th>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Base</th>
                                    <th scope="col">Del</th>
                                    <th scope="col">Mod</th>
                                    <th scope="col">Mod</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for base in partesBases %}
                                <tr>
                                    <th>{{base.baseplan}}</th>
                                    <td>{{base.planDel}}</td>
                                    <td>{{base.planMod}}</td>
                                    <td>{{base.planAdd}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Base</th>
                                    <th scope="col">Del</th>
                                    <th scope="col">Mod</th>
                                    <th scope="col">Mod</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for base in partesBases %}
                                <tr>
                                    <th>{{base.actualBase}}</th>
                                    <td>{{base.actualDel}}</td>
                                    <td>{{base.actualMod}}</td>
                                    <td>{{base.actualAdd}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
        
                </tr>
            </tbody>
        </table>
    </div>
</div> 


