
<div class="card mt-5 mb-5">
    <div class="card-header">
        <h3>Partes añadidas</h3>
        <a class="btn btn-primary" href="{% url 'crear_parte_añadida' %}" role="button">Usar partes</a>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseParteAñadida" role="button" aria-expanded="false" aria-controls="collapseParteAñadida">
            <i class="fas fa-angle-down"></i>
        </a>
    </div>
    <div class="card-body row collapse" id="collapseParteAñadida">
        <table class="table" >
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo parte</th>
                    <th scope="col">Items planeados</th>
                    <th scope="col">Tamaño de items</th>
                    <th scope="col">Tamaño planeado</th>
                    <th scope="col">Items actuales </th>
                    <th scope="col">Tamaño Actual </th>

                </tr>
            </thead>
            <tbody>
                {% for parteañ in partes_añadida %}
                    <tr>
                        <th scope="row">{{parteañ.nombre}}</th>
                        <td>{{parteañ.id_tipo_parte}}</td>
                        <td>{{parteañ.items_planeados}}</td>
                        <td>{{parteañ.id_tamaño_items}}</td>
                        <td>{{parteañ.tamaño_planeado}}</td>
                        <td>{{parteañ.items_acuales}}</td>
                        <td>{{parteañ.tamaño_actual}}</td>

                    </tr>
                {% endfor %}
               
            </tbody>
        </table>
    </div>
</div> 

