
<div class="card mt-5 mb-5">
    <div class="card-header">
        <h3>Partes añadidas</h3>
        <a class="btn btn-primary" href="#" role="button">Usar partes</a>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseParteAñadida" role="button" aria-expanded="false" aria-controls="collapseParteAñadida">
            <i class="fas fa-angle-down"></i>
        </a>
    </div>
    <div class="card-body row collapse" id="collapseParteAñadida">
        <table class="table" >
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Actual</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>nada</td>
                    <td>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Base</th>
                                    <th scope="col">Deli</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Items</th>
                                    <td>tamaño</td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Base</th>
                                    <th scope="col">Deli</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>10/10/2020</th>
                                    <td>items</td>
                                    <td>Tamaño</td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </td>
        
                </tr>
                
            </tbody>
        </table>
    </div>
</div> 

