
<div class="card mb-5"> 
    <div class="card-header">
        <h3>Regitro de tiempo</h3>
        <a class="btn btn-primary" href="{% url 'form_crear_registro_tiempo' programa.id %}">Crear Registro<a/>
        <a class="btn btn-primary" data-toggle="collapse" href="#callaseRegistroTiempo" role="button" aria-expanded="false" aria-controls="callaseRegistroTiempo">
            <i class="fas fa-angle-down"></i>
        </a>
    </div>
    <div class="card-body row collapse" id="callaseRegistroTiempo"> 
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Plan</th>
                    <th scope="col">Actual</th>
                    <th scope="col">To-Date h</th>
                    <th scope="col">To-Date %</th>
                </tr>
            </thead>
            <tbody>
                {% for d in datos %}
                    <tr>
                        <th scope="row">{{d.0}}</th>
                        <td>
                        {{d.1}}
                        </td>
                        <td>{{d.2}}</td>
                        <td>{{d.3}}</td>
                        <td>{{d.4}}%</td>
                    </tr>
                {% endfor %}
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td>Total{{total_actual}}</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
