
<div class="card mb-5"> 
    <div class="card-header">
        <h3>Regitro de tiempo</h3>
        <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#staticBackdrop">
            Registrar tiempo
        </button>
        <a class="btn btn-primary" data-toggle="collapse" href="#callaseRegistroTiempo" role="button" aria-expanded="false" aria-controls="callaseRegistroTiempo">
            <i class="fas fa-angle-down"></i>
        </a>
    </div>
    <div class="card-body row collapse" id="callaseRegistroTiempo"> 
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Plan</th>
                    <th scope="col">Actual</th>
                    <th scope="col">To-Date h</th>
                    <th scope="col">To-Date %</th>
                </tr>
            </thead>
            <tbody>
                {% for d in datos %}
                    <tr>
                        <th scope="row">{{d.0}}</th>
                        <td>
                        {{d.1}}
                        </td>
                        <td>{{d.2}}</td>
                        <td>{{d.3}}</td>
                        <td>{{d.4}}%</td>
                    </tr>
                {% endfor %}
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td>Total{{total_actual}}</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal edit information -->
<div class="modal fade"  id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Registro de tiempos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
           
            <div class="modal-body" >
            {% include 'registroTiempos/registrotiempo_form.html' %}


                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Fase</th>
                            <th scope="col">Programa</th>
                            <th scope="col">Inicio</th>
                            <th scope="col">Descanso</th>
                            <th scope="col">Final</th>
                            <th scope="col">Total</th>
                            <th scope="col">Descripcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tiempo in registro_tiempos_programa %}
                            <th scope="row">{{tiempo.id_fase}}</th>
                            <td>{{tiempo.id_programa}}</td>
                            <td>{{tiempo.fecha_inicio}}</td>
                            <td>{{tiempo.interrupciones}}</td>
                            <td>{{tiempo.fecha_finalizacion|date}}</td>
                            <td>{{tiempo.tiempo_total}}</td>
                            <td>{{tiempo.comentarios}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>