


{% extends 'layouts/layout.html' %}

{% block title %} {{title}} {% endblock title %} 

{% block content %}

    <h1>Errores</h1>
    
    {% for j in object_list %}
        <div class="card mb-3 ">
        <div class="card-header">
            nombre
        </div>
        <div class="card-body">
            
            <p class="card-text">asdflkjalñsdjfñlkaskdjflñkasdjfñlkjsdfa.</p>
            
        </div>
        </div>
    {% empty %}
        <p>No hay Errores</p>
    {% endfor %}
   

{% endblock content %}