{% extends 'layouts/layout.html' %}

{% block title %} {{title}} {% endblock title %} 

{% block content %}
<!-- project style -->
    <h1>Proyectos</h1>
    <div class="row">
        {% for proyecto in proyectos %}
            <div class="col-sm-6 mt-5 container" style="max-width: 30rem;">
                <div class="box-projecto card" >
                    <div class="card-body">
                        
                        
                        <h5 class="card-title">{{proyecto.1}} </h5>
                        <h5>PSP</h5>
                        <p>{{proyecto.2}} </p>
                        <h5 class="card-title">Descripción</h5>
                        <div class="scroll-project-description">
                            <p class="card-text">{{proyecto.3}} </p>
                        </div>
                        
                        <h5 class="card-title">Fecha de creacion</h5>
                        <p>{{proyecto.4}} </p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" onclick="modalForm('{{proyecto.0}}')">
                            Empesar proyecto
                        </button>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Modal title {{proyecto.0}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <input type="text" hidden="" id="idProject"></input>
            <input type="text"  id="idProjectF"></input>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary">Empezar</button>
        </div>
        </div>
    </div>
    </div>

    <script type="text/javascript">
        function modalForm(idProject){
            $('#idProjectF').val(idProject)
        }
    </script>
{% endblock content %}