{% extends 'core/base_login.html' %}
{% load static %}
{% block title %}Iniciar sesión{% endblock %}
{% block content %}
  {% if request.user.is_authenticated %}
    <script>window.location.href = '/accounts/profile/'; </script>
  {% endif %}
<style>.errorlist{color:red;}</style>
<div class="row justify-content-center pt-3">
	<div class="col col-sm-12 col-lg-4 bg-light redondeo-izq mt-5">
		<nav class="navbar navbar-dark redondeo-izq bg-light">
			<a class="navbar-brand" href="#">
				<img src="{% static 'core/img/logo_psp.png' %}" width="50" height="30" class="d-inline-block align-top" alt="" loading="lazy">
			</a>
			<ul class="nav justify-content-end">
				<li class="nav-item">
					<a class="nav-link active" href="#">Iniciar Sesion</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Registrarse</a>
				</li>
			</ul>
		</nav>
		<div class="row mx-4">
			<div class="col p-2">
				{% if 'register' in request.GET %}
					<p style="color:green;">Usuario registrado correctamente, ya puedes identificarte.</p>
				{% endif %}
				<form action="" method="post" class="form-signin py-3">{% csrf_token %}
					{% if form.non_field_errors %}
						<p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
					{% endif %}
					<p>
					<label for="id_username" class="sr-only-focusable">Usuario</label>
					<input type="text" name="username" id="id_username" class="form-control" required autofocus>
					</p>
					<p>
					<label for="id_password" class="sr-only-focusable">Contraseña</label>
					<input type="password" name="password" id="id_password" class="form-control border-bottom" required>
					</p>
					<div class="checkbox my-3">
						<label>
							<input type="checkbox" value="1"> Recuerdame
						</label>
					</div>
					<p><input type="submit" class="btn btn-lg btn-primary btn-block" value="Acceder"></p>
				</form>
				<p>
				¿Ha olvidado su clave? Puede restaurarla <a href="{% url 'password_reset' %}">aquí</a>.
				</p>
			</div>
		</div>
		<div class="row align-items-end">
			<div class="col">
				<p class="mb-3 text-muted">&copy; 2017-2019</p>
			</div>
		</div>
	</div>
	<div class="col col-sm-12 d-none d-lg-block col-lg-5 redondeo-der p-0 img-fondo mt-5">
		<div class="centrado text-light">
			<h1>Welcome to <img src="{% static 'core/img/logo_psp.png' %}" width="140" height="40" class="d-inline-block align-top" alt="" loading="lazy">
			</h1>
			<h5>
				Login in to your account
			</h4>
		</div>
	</div>
</div>
{% endblock %}